<div class="colorsWrapper">
  <div class="color" [style.background]="'var(--black)'"></div>
  <div class="color" [style.background]="'var(--red)'"></div>
  <div class="color" [style.background]="'var(--green)'"></div>
  <div class="color" [style.background]="'var(--yellow)'"></div>
  <div class="color" [style.background]="'var(--blue)'"></div>
  <div class="color" [style.background]="'var(--purple)'"></div>
  <div class="color" [style.background]="'var(--cyan)'"></div>
  <div class="color" [style.background]="'var(--white)'"></div>
</div>
